* {
  &:before,
  &:after {
    box-sizing: border-box;
  
  }
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  // 不让iPhone横坚屏切换的时候调节文字
  -webkit-text-size-adjust: 100%;
  // -webkit-tap-highlight-color: rgba(0,0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
}

// 清除默认边距
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
ul,
ol,
fieldset, hr,
input, select, textarea, button,
blockquote {
  margin: 0;
}

// padding
ul, ol, input, th, blockquote, legend {
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

// ie & firefox
details, figcaption, figure, main {
  display: block;
} 

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

h1,
h2,
h3 {
    line-height: 2;
    font-weight: normal;
}
h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}

button,
input,
select,
textarea,
optgroup {
  font-size: 100%;
}

small {
  font-size: 80%;
}

fieldset,
img {
  border: none;
}
img {
  max-width: 100%;
  width: auto;
  vertical-align: top;
}

// table
table {
  // 合并边框
  border-collapse: collapse;
  // 相邻单元格的边框为 0
  border-spacing: 0;
}
th, td {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

// 缩写
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}


// 上标下标
sub, sup {
  line-height: 1;
  font-size: 12px;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}

// 列表
ul,
ol {
  list-style-type: none;
}



// 表单元素
a, a:active, input, textarea, select, button {
  outline: none;
  // 去除点击事件灰色背景，如 a标签
  -webkit-tap-highlight-color: transparent;
}
img, input, button {
  border: none;
}
input, select, button, textarea {
  border-radius: 0;
}

textarea {
  min-height: 50px;
  height: auto;
  vertical-align: top;
  overflow: auto;
}

[type='checkbox'], [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

// 统一按钮的样式
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  text-transform: none;
  outline: none;
}

// 统一搜索框的样式
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  outline-offset: -2px;
}
input[type='search']::-webkit-search-cancel-button, 
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
input[type=button],
input[type=checkbox],
input[type=reset],
input[type=submit],
label {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
  /*输入框提示语的字体样式*/
}

input::-webkit-inner-spin-button {
  /*解决input的type="number"在部分手机端会出现一个小按钮*/
  -webkit-appearance: none;
  /*去除系统默认appearance的样式,常用于IOS下移除原生样式*/
}

input::-webkit-outer-spin-button {
  /*解决input的type="number"在部分手机端会出现一个小按钮*/
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input.fixAKeyboard:focus,
textarea.fixAndroidKeyboard:focus {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}


// remove innner border in firefox
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}