@charset "UTF-8";
/*  字符串插值 */
.icon {
  background: url(../fonts/icon/if.jpg) center no-repeat; }

.image {
  background: url(../assets/images/if.jpg) center no-repeat; }

.avatar {
  background: url(../assets/avatar.jpg) center no-repeat; }

/* 变量之间的运算 */
.result {
  opacity: 0.5;
  font-size: 48px; }

.box {
  font: 16px/32px "Microsoft Yahei"; }
