# folder
node_modules
IconFont
css技术点

Gradient
Animation
@media

sass/*.sass-cache
sass/family.scss
sass/*.pdf


# /file
.project
.vscode
.history
.DS_Store
.settings
*.mmap
*.pdf

# compass cache
*.sass-cache


# log
npm-debug.log
