@charset "UTF-8";
/* @extend 继承，会提取出公用的样式 */
.fl, .box, .list {
  float: left; }

.box {
  width: 50%; }

.list {
  width: 100%; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: '';
    display: block;
    clear: both; }

.item {
  *zoom: 1; }
  .item:after, .item:before {
    content: '';
    display: table; }
  .item:after {
    clear: both; }

.item {
  margin-left: auto;
  margin-right: auto; }

/* .item 占位选择器 清除浮动 item的 after，不是 clearfix的 after */
