/*  字符串插值 */
$icon: '../fonts/icon/';
$image: '../assets/images/'; // 带 / 是文件路径
$avatar: '../assets/avatar'; // 不带 / 是文件

.icon{
  background: url( #{$icon}if.jpg ) center no-repeat;
}

.image{
  background: url( #{$image}if.jpg ) center no-repeat;
}

.avatar{
  background: url( #{$avatar}.jpg ) center no-repeat;
}


/* 变量之间的运算 */
$size: 16px;
$height: 32px;

.result{ // 变量之间的运算
  opacity: $size/$height;
  font-size: $size+$height;
}

.box{ // 字符串插值，避免变量运算
  font: #{$size}/#{$height} 'Microsoft Yahei';
}


