	*{
		margin: 0;
		padding: 0;
	}
	.c20{
		clear:both;
		height: 20px;
	}
	.m20{
		margin-right: 20px;
	}
	.fl{
		float: left;
	}
	#wrap{
		width: 1000px;
		margin: 0 auto;
	}
	#denglu{
		width: 1000px;
		height: 66px;
		background: #0099FF;
	}
	.zuo{
		width: 600px;
		height: 350px;
		background: #00CC00;
		float: left;
		margin-right: 20px;
	}
	.you{
		width:380px;
		height: 350px;
		background: #99FF00;
		float: left;
	}
