	*{
		margin: 0;
		padding: 0;
	}
	#wrap{
		width: 1300px;
		margin: 0 auto;
	}
	.c20{
		float: right;
		width: 20px;
		height: 350px;
	}
	#denglu{
		width: 280px;
		height: 350px;
		background: #0099FF;
		float: right;
	}
	#guanggao{
		float: right;
		width: 1000px;
		height: 350px;
	}
	#guanggao .zuo{
		float: left;
		width: 600px;
		height: 350px;
		background: #00CC00;
	}
	#guanggao .you{
		float: right;
		width: 380px;
		height: 350px;
		background: #99FF00;
	}